/* Variables */
:root {
  --main-color: #191c32;
  --primary-color: aqua;
  --secondary-color: #fff;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main styling */
body {
  font-family: 'Raleway', sans-serif;
  color: var(--secondary-color);
  line-height: 1.7em;
  background-color: var(--main-color);
  padding-top: 80px; /* Ajusta este valor según la altura del navbar */
}
hr {
  border: 0.5px solid var(--secondary-color);
}
/* Utility Classes */
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 30px;
}
.section {
  padding: 20px 0;
  overflow: hidden;
}
.line-break {
  padding-bottom: 10px;
}
.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.title {
  position: relative;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}
.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.title:after {
  content: '';
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.text {
  max-width: 600px;
  margin: 0 auto;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  background-color: var(--main-color);
  width: 100%;
  overflow: hidden;
  z-index: 10; /* Asegúrate de que el navbar esté por encima del contenido */
}
.nav-container {
  margin: auto;
  max-width: 1100px;
  padding: 0 30px;
}
.navbar .logo {
  float: left;
  padding-top: 20px;
}
.navbar ul {
  list-style: none;
  float: right;
}
.navbar a {
  color: var(--secondary-color);
}
.navbar span {
  color: var(--primary-color);
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
.navbar ul li a:hover {
  background: var(--primary-color);
  color: var(--main-color);
}
.navbar ul li a.current {
  color: var(--primary-color);
}
.navbar ul li a.current:hover {
  color: var(--main-color);
}

/* banner home */

.banner-header {
  height: 60vh; /*60% del la altura del view port*/
  width: 100%;
  overflow: hidden;
  background: rgb(88, 37, 194);
  background: linear-gradient(
      45deg,
      rgba(88, 37, 194, 0.4) 36%,
      rgba(208, 25, 207, 0.4) 100%
    ),
    url('..//img/developer.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-header-text {
  height: 100%;
  width: 60%;
  margin: auto;
  text-align: center;
  display: grid;
  place-content: center;
}

.banner-title span {
  color: var(--primary-color);
}

.btn {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color);
}

/*proyectos home*/

.portfolio h3 {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centra verticalmente */
  background-color: transparent;
  padding: 20px;
  border-radius: 15px;
  height: auto;
}
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  justify-content: center;
}

.box:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.card-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
  margin-top: 20px; /* Espacio adicional entre el navbar y las tarjetas */
}

/* hireme*/

.hireme {
  text-align: center;
}

.main-footer p {
  float: left;
}

.main-footer ul {
  float: right;
  list-style: none;
}

.main-footer ul li i {
  color: var(--primary-color);
}

.main-footer ul li {
  float: left;
}
.main-footer ul li a {
  display: block;
  padding: 10px;
  text-align: center;
}

/* contacto/*

/* Contact */
.card-info {
  display: grid; /* Define el contenedor como una cuadrícula */
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 20px; /* Espacio de 20px entre filas y columnas */
  text-align: center;
}

.form-map {
  margin: 30px;
  display: grid; /* Define el contenedor como una cuadrícula */
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 20px;
}

.form-map iframe {
  height: 400px;
  width: 100%;
}

.box-form .input-form {
  margin-bottom: 20px;
}

.box-form input,
.box-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px var(--secondary-color) solid;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.box-form input:focus,
.box-form textarea:focus {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.box-form textarea {
  height: 200px;
}
.box-form input:focus,
.box-form textarea:focus {
  outline: none;
  border-color: var(--main-color);
}

.box-form button {
  width: 100%;
}

/* 
estilos del poryecto 1 */

.proyectos-cards {
  display: flex;
  gap: 20px;
  background-color: #4a5568;
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.description-projecto {
  flex: 1;
  padding: 10px;
}

.description-projecto h3 {
  color: rgba(196, 126, 196, 0.8);
  text-decoration: underline;
}

.description-projecto p {
  margin: 10px 0;
  text-align: justify;
}

.imagen-proyecto img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.imagen-proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.imagen-proyecto3 img {
  display: flex;

  width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.imagen-proyecto3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.tech-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.tech-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.tech-icons img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.tech-icons .Django-icon,
.icon-mariadb,
.icon-Vue {
  background-color: #b2c4c0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 20px;
  border: #191c32 2px solid;
}

.about-me-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #92b0d3;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
}

.about-content {
  flex: 1;
  padding: 10px;
}

.about-content h2 {
  color: var(--primary-color);
  text-decoration: dashed underline;
  margin-bottom: 10px;
}

.about-content p {
  text-align: justify;
  line-height: 1.6;
  color: #030303;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 200px;
  height: auto;
  border-radius: 15%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.about-skills {
  flex: 1;
  padding: 10px;
}

.about-skills h3 {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.about-skills ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-skills ul li {
  margin-bottom: 5px;
  color: #000000;
  font-weight: bold;
}
